## Ch.3 다양한 데이터 유형과 주요 함수들 활용방법

### 1. 숫자형 데이터

###### 1.) 정수형 타입과 주요 연산자 사용 방법

In [2]:
print(3+4)
print(4-3)
print(3*4)
print(3/4)
print(123121 % 12)

7
1
12
0.75
1

###### 2.) 정수형으로 변환하기

In [3]:
age = int(input('나이를 입력하세요 : '))

나이를 입력하세요 : 23

###### 3.) 실수형 숫자 타입

In [4]:
print(float(1))

1.0

###### 4.) 숫자 타입에서 많이 사용되는 주요 함수들

- round() - 반올림 함수

In [6]:
print(round(8/3 ,2))

2.67

- trunc() - 버림

In [7]:
import math
print(math.trunc(8/6))

1

- ceil() - 큰 정수 찾기 함수

In [8]:
print(math.ceil(8/6))

2

- floor() - 작은 정수 찾기 함수

In [9]:
print(math.floor(8/6))

1

### 2. 문자열 유형
###### 1.) 문자열이란?
- 한 글자씩 메모리에 저장된 문자들의 집합

###### 2.) 인덱싱과 슬라이싱
- 인덱싱 : 한번에 하나씩 호출
- 슬라이싱 : 한번에 구간을 호출

In [10]:
str1 = '파이썬완전쉽죠?'
print(str1)
# 인덱싱
print(str1[0])
# 슬라이싱
print(str1[0:4])

파이썬완전쉽죠?
파
파이썬완

###### 3.) lower, upper 함수 - 입력된 문자를 소문자 / 대문자로 바꾸기

In [11]:
str2= 'Python'
print(str2.upper())
print(str2.lower())

PYTHON
python

###### 4.) strip, lstrip, rstrip 함수 - 문자열에서 좌 / 우 공백 제거하기

In [12]:
str3 = '            <- 공백'
str4 = '공백 ->        '
str5 = '            <- 공백 ->         '

print(str3.lstrip())
print(str4.rstrip())
print(str5.strip())

<- 공백
공백 ->
<- 공백 ->

###### 5.) replace 함수 - 문자열에서 내용 바꾸기

In [13]:
str6 = '새우깡도 해산물인가?'
print(str6.replace('새우깡','새우'))

새우도 해산물인가?

###### 6.) split 함수 - 문자열 나누기

In [14]:
tel = '02-1234-5678'
# 모든 -로 split
print(tel.split('-'))
# 첫 번째 - 만 split
print(tel.split('-',1))

['02', '1234', '5678']
['02', '1234-5678']

###### 7.) len 함수 - 단어나 문자열의 길이 확인하기

In [16]:
print(str1,end = ' : ')
print(len(str1))
print(str2, end = ' : ')
print(len(str2))

파이썬완전쉽죠? : 8
Python : 6

###### 8.) 문자열로 연산하기

In [17]:
print('=' * 80)
print('문자열로 연산하기 실습')
print('+' * 80)

================================================================================
문자열로 연산하기 실습
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

##### 연습문제

In [19]:
txt = '     새우깡은 진짜 맛있어!         '
print(txt.replace('새우깡','감자깡').strip())

감자깡은 진짜 맛있어!

In [23]:
##### 변수 하나에 담을 수 있는 개수는 한 건!!!
var1 = 1000
var1 = 1
var1= 300
print(var1)

#하나의 변수에 여러가지 값을 담을 필요가 생긴 경우 아래에서 배워보자

300

#### 3. 리스트(list) - 여러 건의 데이터를 한꺼번에 저장하기
###### 1.) 리스트 유형이란?
- 여러 건의 데이터를 하나의 목록에 저장하는 것을 리스트라고 합니다.

In [24]:
list1 = ['1982-07-15','홍길동',30]
print(list1)

['1982-07-15', '홍길동', 30]

###### 2.) 리스트로 데이터 관리하는 방법들

(1) append, insert 함수 - 리스트에 새로운 데이터 추가하기

In [29]:
list2 = ['첫 째','둘 째','셋 째']

list2.append('append로 추가한 것')
list2.insert(2,'insert로 추가한 것')
print(list2)

['첫 째', '둘 째', 'insert로 추가한 것', '셋 째', 'append로 추가한 것']

(2) del, remove 함수 - 데이터 삭제하기

In [30]:
print('삭제 전 목록 ', list2)

del list2[2]
print('del로 삭제 후 목록 ', list2)

list2.remove('append로 추가한 것')
print('remove로 삭제한 목록 ',list2)

삭제 전 목록  ['첫 째', '둘 째', 'insert로 추가한 것', '셋 째', 'append로 추가한 것']
del로 삭제 후 목록  ['첫 째', '둘 째', '셋 째', 'append로 추가한 것']
remove로 삭제한 목록  ['첫 째', '둘 째', '셋 째']

## Ch.4 조건문과 반복문 활용하기

### 1. if 조건문 배우기

##### 1.) 조건이 참일 경우에만 수행할 작업을 지정하기

In [35]:
name = input('조회할 사람의 이름을 입력하세요 : ')


if name == '홍길동':
    print('\n홍길동입니다.')
    print('남자입니다.')
    print('활빈당 총수입니다.')

조회할 사람의 이름을 입력하세요 : 홍길동

홍길동입니다.
남자입니다.
활빈당 총수입니다.

- 조건이 참이면 실행되고 거짓이면 아무것도 실행되지 않는다.
- 들여쓰기를 주의할 것

##### 2.) 조건이 참일 경우와 거짓일 경우 모두 수행할 작업을 지정하기

In [36]:
name = input('조회할 사람의 이름을 입력하세요 : ')


if name == '홍길동':
    print('\n홍길동입니다.')
    print('남자입니다.')
    print('활빈당 총수입니다.')
else :
    print('\n%s입니다.'%name)

조회할 사람의 이름을 입력하세요 : 강찬

 강찬입니다.

##### 3.) 여러 개의 조건에 따라 다른 작업을 해야 하는 경우

In [37]:
score = int(input('점수를 입력하세요 : '))

if score >= 91:
    print('A등급입니다.')
elif score >=81 and score <= 90:
    print('B등급입니다.')
elif score >= 71 and score <= 80:
    print('C등급입니다.')
else:
    print('F등급입니다.')

점수를 입력하세요 : 78
C등급입니다.

#### 연습문제

In [40]:
#1 
no1 = int(input('숫자를 입력해주세요 : '))
if no1 % 3 == 0:
    print(no1**2)
else:
    print(0)

숫자를 입력해주세요 : 3
9

In [41]:
#2 
print('목록 : 사과, 감, 귤 ')
list1 = ['사과','감','귤']
while 1:
    fruits = input('과일 이름을 입력해주세요 : ')
    if fruits == list1[0]:
        print('Good~')
        break
    elif fruits == list1[1]:
        print('Very Good~')
        break
    elif fruits == list1[2]:
        print('So So...')
        break
    else:
        print('목록에 있는 것을 입력하세요~~')

목록 : 사과, 감, 귤
과일 이름을 입력해주세요 : 아
목록에 있는 것을 입력하세요~~
과일 이름을 입력해주세요 : 나
목록에 있는 것을 입력하세요~~
과일 이름을 입력해주세요 : 사과
Good~

In [42]:
#3
while 1:
    fruits = input('사과, 감, 귤, 복숭아 중에 어떤 과일 좋아하세요? :  ')
    if fruits == '사과' or fruits =='감':
        print('Very Good~')
        break
    elif fruits == '귤' or fruits == '복숭아':
        print('Good~')
        break

    else:
        print('사과, 감, 귤, 복숭아 중에서 입력하세요~~~~')

사과, 감, 귤, 복숭아 중에 어떤 과일 좋아하세요? :  가
사과, 감, 귤, 복숭아 중에서 입력하세요~~~~
사과, 감, 귤, 복숭아 중에 어떤 과일 좋아하세요? :  나
사과, 감, 귤, 복숭아 중에서 입력하세요~~~~
사과, 감, 귤, 복숭아 중에 어떤 과일 좋아하세요? :  다
사과, 감, 귤, 복숭아 중에서 입력하세요~~~~
사과, 감, 귤, 복숭아 중에 어떤 과일 좋아하세요? :  라
사과, 감, 귤, 복숭아 중에서 입력하세요~~~~
사과, 감, 귤, 복숭아 중에 어떤 과일 좋아하세요? :  감
Very Good~

In [50]:
#4
print('''
1. 짜장면 - 5,000원               2. 짬뽕 - 6,000원
3. 군만두 - 8,000원               4. 탕수육 - 10,000원
''' )
num = int(input('1. 위 메뉴 중 주문할 메뉴의 번호를 쓰세요 : '))
sss = int(input('2. 위 메뉴의 주문 수량을 쓰세요 : '))

list1 = ['짜장면',' 짬뽕', '군만두',' 탕수육']

price  =[5000,6000,8000,10000]
print('\n주문하신 메뉴는 {}이고 주문 수량은 {} 그릇이며 주문한 금액은 {}입니다. '.format(list1[num-1], sss, sss *price[num-1]))

1. 짜장면 - 5,000원               2. 짬뽕 - 6,000원
3. 군만두 - 8,000원               4. 탕수육 - 10,000원

1. 위 메뉴 중 주문할 메뉴의 번호를 쓰세요 : 1
2. 위 메뉴의 주문 수량을 쓰세요 : 3

주문하신 메뉴는 짜장면이고 주문 수량은 3 그릇이며 주문한 금액은 15000입니다.

### 2. for 반복문
- 횟수로 반복 지정

In [53]:
# i 변수에 1,2,3이 담긴다
for i in (1,2,3):
    print(i)

1
2
3

In [55]:
for i in range(1000):
    print(i ,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998 999

In [62]:
for i in range(1,10):
    print('{}단'.format(i))
    for j in range(1,10):
        print('{} X {} = {}'.format(i,j , i*j))
    print()

1단
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9

2단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [65]:
num = int(input('숫자를 입력하세요 : '))
if num % 2 == 0:
    for i in range(2,num+1 ,2):
        print(i)
else:
    for i in range(1,num+1 ,2):
        print(i)

숫자를 입력하세요 : 10
2
4
6
8
10

www.cafe.naver.com/gachilabs

In [69]:
stu2 = ['홍길동','일지매','유관순']

name =input('변경 전 이름을 입력하세요 : ')
name2 = input('변경 후 이름을 입력하세요 : ')
for i,na in enumerate(stu2):
    if na == name:
        stu2[i] = name2
        
print('요청하신 대로 {}을 {}(으)로 변경하였습니다.\n'.format(name,name2), stu2)

변경 전 이름을 입력하세요 : 홍길동
변경 후 이름을 입력하세요 : 전우치
요청하신 대로 홍길동을 전우치(으)로 변경하였습니다.
 ['전우치', '일지매', '유관순']

In [71]:
page_no = [1,2,3]
text_no = [1,2,3,4,5]
for i in page_no:
    for j in text_no:
        print('{} 페이지의 {}의 번글입니다. ^^'.format(i,j))
    print()
    print()

1 페이지의 1의 번글입니다. ^^
1 페이지의 2의 번글입니다. ^^
1 페이지의 3의 번글입니다. ^^
1 페이지의 4의 번글입니다. ^^
1 페이지의 5의 번글입니다. ^^


2 페이지의 1의 번글입니다. ^^
2 페이지의 2의 번글입니다. ^^
2 페이지의 3의 번글입니다. ^^
2 페이지의 4의 번글입니다. ^^
2 페이지의 5의 번글입니다. ^^


3 페이지의 1의 번글입니다. ^^
3 페이지의 2의 번글입니다. ^^
3 페이지의 3의 번글입니다. ^^
3 페이지의 4의 번글입니다. ^^
3 페이지의 5의 번글입니다. ^^

In [83]:
class_name = ['1반','2반','3반']
name1 = ['홍길동','일지매','전우치']
name2 = ['유관순',' 신사임당',' 어우동']
name3 = ['강감찬','광개토대왕','김구']

list1 = [name1, name2 , name3]
for n,i in enumerate(class_name):
    for j in range(3):
        print('{} : {}'.format(i,list1[n][j]))
    print('='*20)

1반 : 홍길동
1반 : 일지매
1반 : 전우치
====================
2반 : 유관순
2반 :  신사임당
2반 :  어우동
====================
3반 : 강감찬
3반 : 광개토대왕
3반 : 김구
====================

In [80]:
print(str(stu2).replace("[",'').replace("]",'').replace('"',''))

'전우치', '일지매', '유관순'

### 3. while 반복문

In [89]:
no = 1
while no < 9:
    print(no)
    no += 2

1
3
5
7

### 4. 중간에 멈추기와 건너뛰기 - break문과 continue 문장
- break : 특정 값이 나오면 멈춰라
- continue : 특정 값이 나오면 건너뛰어라

In [93]:
snack = ['새우깡','감자깡','고구마깡','맛동산','짱구']
for i in snack:
    if i =='고구마깡':
        break
    print(i)

새우깡
감자깡

In [95]:

plus = 'N'
while plus =='N':
    print('''
    1. 짜장면 - 5,000원               2. 짬뽕 - 6,000원
    3. 군만두 - 8,000원               4. 탕수육 - 10,000원
    ''' )
    num = int(input('1. 위 메뉴 중 주문할 메뉴의 번호를 쓰세요 : '))
    sss = int(input('2. 위 메뉴의 주문 수량을 쓰세요 : '))

    list1 = ['짜장면',' 짬뽕', '군만두',' 탕수육']

    price  =[5000,6000,8000,10000]
    print('\n주문하신 메뉴는 {}이고 주문 수량은 {} 그릇이며 주문한 금액은 {}입니다. '.format(list1[num-1], sss, sss *price[num-1]))
    plus = input('3. 추가 주문을 하시겠습니까? (Y/N)')

    1. 짜장면 - 5,000원               2. 짬뽕 - 6,000원
    3. 군만두 - 8,000원               4. 탕수육 - 10,000원

1. 위 메뉴 중 주문할 메뉴의 번호를 쓰세요 : 2
2. 위 메뉴의 주문 수량을 쓰세요 : 3

주문하신 메뉴는  짬뽕이고 주문 수량은 3 그릇이며 주문한 금액은 18000입니다.
3. 추가 주문을 하시겠습니까? (Y/N)N

    1. 짜장면 - 5,000원               2. 짬뽕 - 6,000원
    3. 군만두 - 8,000원               4. 탕수육 - 10,000원

1. 위 메뉴 중 주문할 메뉴의 번호를 쓰세요 : 2
2. 위 메뉴의 주문 수량을 쓰세요 : 3

주문하신 메뉴는  짬뽕이고 주문 수량은 3 그릇이며 주문한 금액은 18000입니다.
3. 추가 주문을 하시겠습니까? (Y/N)Y

In [115]:
plus = 'Y'
num1 = 0
while plus =='Y':
    
    print('''
    1. 짜장면 - 5,000원               2. 짬뽕 - 6,000원
    3. 군만두 - 8,000원               4. 탕수육 - 10,000원
    ''' )
    num = int(input('1. 위 메뉴 중 주문할 메뉴의 번호를 쓰세요 : '))
    sss = int(input('2. 위 메뉴의 주문 수량을 쓰세요 : '))

    list1 = ['짜장면',' 짬뽕', '군만두',' 탕수육']

    price  =[5000,6000,8000,10000]
    print('\n주문하신 메뉴는 {}이고 주문 수량은 {} 그릇이며 주문한 금액은 {}입니다. '.format(list1[num-1], sss, sss *price[num-1]))
    num1 +=1
    if num1 == 3:
        print('추가주문은 총 3회까지만 가능합니다. ㅠㅠ')
         break
    plus = input('3. 추가 주문을 하시겠습니까? (Y/N)')

    1. 짜장면 - 5,000원               2. 짬뽕 - 6,000원
    3. 군만두 - 8,000원               4. 탕수육 - 10,000원

1. 위 메뉴 중 주문할 메뉴의 번호를 쓰세요 : 2
2. 위 메뉴의 주문 수량을 쓰세요 : 3

주문하신 메뉴는  짬뽕이고 주문 수량은 3 그릇이며 주문한 금액은 18000입니다.
2
3. 추가 주문을 하시겠습니까? (Y/N)Y

    1. 짜장면 - 5,000원               2. 짬뽕 - 6,000원
    3. 군만두 - 8,000원               4. 탕수육 - 10,000원

1. 위 메뉴 중 주문할 메뉴의 번호를 쓰세요 : 2
2. 위 메뉴의 주문 수량을 쓰세요 : 3

주문하신 메뉴는  짬뽕이고 주문 수량은 3 그릇이며 주문한 금액은 18000입니다.
2
3. 추가 주문을 하시겠습니까? (Y/N)Y

    1. 짜장면 - 5,000원               2. 짬뽕 - 6,000원
    3. 군만두 - 8,000원               4. 탕수육 - 10,000원

1. 위 메뉴 중 주문할 메뉴의 번호를 쓰세요 : 2
2. 위 메뉴의 주문 수량을 쓰세요 : 3

주문하신 메뉴는  짬뽕이고 주문 수량은 3 그릇이며 주문한 금액은 18000입니다.
2

### Ch.5 사용자 정의 함수와 모듈을 배웁니다.

### 1. 직접 사용자 정의 함수 만들기 도전

In [104]:
def p(x,y):
    result = print('%s 과 %s의 더한 값은 %s입니다.'%(x,y,x+y))
    return result
p(2,3)

2 과 3의 더한 값은 5입니다.

- 여러 개의 변수를 받는 방법

In [105]:
def p(*x):
    hap = 0
    for i in x :
        hap += i
    return('입력하신 숫자의 합은 %s입니다.'%hap)

In [106]:
print(p(1,3,5))

입력하신 숫자의 합은 9입니다.

### 2. 모듈(module)

- 다른 사람이 만든 .py 파일을 불러와서 쓸 수 있다.  
ex)  
import numpy

## 숙제

In [116]:
#1
def minus1(x,y):
    if x >y :
        print(x-y)
    else:
        print(y-x)
minus1(3,2)

1

In [147]:
#2
k= 0
def max1(*x):
    x = list(x)
    mx = x[0]
    for i in x[1:]:
        if mx < i:
            mx = i
    return mx

print([2,3,4,5,6,123,4,5])
max1(2,3,4,5,6,123,4,5)

[2, 3, 4, 5, 6, 123, 4, 5]
123

123

In [160]:
def sum1(*x):
    sumnum =0 
    for i in x:
        sumnum += i
    return sumnum
print(sum1(213123,2314,2134321))

2349758

In [161]:
#4
def m_m(*x):
    x = list(x)
    max1 = x[0]
    for i in x[1:]:
        if max1 < i:
            max1 = i
    min1 = x[0]        
    for i in x[1:]:
        if min1 > i:
            min1 =i
    
    return max1 - min1
print(m_m(123,12,343,25,12,3))

340