In [2]:
import pandas as pd

In [7]:
df = pd.read_ex../BLA_project/'../BLA_project/file/참여기업목록.xlsx', encoding= 'cp949', header =2, index_col='No')
df.columns

Index(['사업참여연도', '기업명', '시도', '주소'], dtype='object')

In [9]:
count = df.pivot_table(index= ['시도','주소'], columns='사업참여연도', values ='기업명', aggfunc='count')

In [17]:
import seaborn as sns

In [18]:
sns.barplot(data = count ,x='시도', y='사업참여연도')

ValueError: Could not interpret input '시도'

In [10]:
count.to_exce('../BLA_project/file/주소별_참여기업수.xlsx',encoding ='cp949')

사업참여연도         2018
시도   주소
강원도  강원도 강릉시      5
     강원도 동해시      2
     강원도 삼척시      1
     강원도 양양군      1
     강원도 영월군      1
...             ...
충청북도 충청북도 음성군     9
     충청북도 증평군     1
     충청북도 진천군     2
     충청북도 청주시    39
     충청북도 충주시     4

[179 rows x 1 columns]